--- 
---
@import "{{ site.theme }}";

footer {
  display: none !important;
}


.try-out-app {
  .main-button {
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);

    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;    
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #159957, #159957);
    position: relative; 
    z-index: 1;

    padding: 0.75rem 1rem;

    &::before {
      position: absolute;
      content: "";
      inset: 0; /* same as { top: 0; right: 0; bottom: 0; left: 0; } */
      background-image: linear-gradient(120deg, #155799, #159957);
      z-index: -1;
      opacity: 1;
      transition: opacity 0.25s linear;
    }

    &:hover, &.selected {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.3);
    }
    &:hover::before, &.selected {
      opacity: 0;
    }

    &.main-button--small {
      padding: 0.25rem 0.5rem;
    }

    &.tool-button-small {
      padding: 0.25rem 0.5rem;
      margin-right: 8px;
    }
  }


  .application-container,
  .application-header {
    display: flex;
    justify-content: center;
  }

  .form-group-section-header {
    display: flex;
    justify-content: space-between;
  }

  .form-group {
    display: flex;
    flex-direction: row;

    label {
      flex: none;
      display: block;
      width: 125px;
      font-weight: bold;
      font-size: 1em;

      &.right-inline {
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
      }
    }

    .form-group__input {
      flex: 1 1 auto;
      display: block;
      margin-bottom: 10px;
      margin-right: 8px;
      padding: 4px;
      margin-top: -4px;
      padding: 0.25rem 0.5rem;
      margin-right: 8px;
    }

    .form-group__remove-action {
      margin-bottom: auto;
      margin-top: -4px;
      background-image: linear-gradient(120deg, #998b15, #991515);
      padding: 0.25rem 0.5rem;
      margin-right: 8px;
    }
  }

}

.form-action {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.form-result {
  display: flex;
  justify-content: space-between;

  .success-message
  {
    color: #0fa414;
  }
  .error-message
  {
    color: #dd1313;
  }
}

/*To Do: Responsive*/
.application-container {
  .component-container {
    min-width: 800px;
  }
}